@import 'bourbon';

@import '../utils/utils';

.Checkbox {
  @include user-select(none);
  cursor: default;
  outline: none;
  margin-bottom: 12px;
  position: relative;

  &-inner {
    @include clearfix;
  }

  &-checkmark {
    @include water;
    border-left: 3px solid $gray4;
    background: rgba($gray7, 0.1);
    float: left;
    height: 24px;
    position: relative;
    width: 23px; // intentionally 1px less
  }

  &:focus &-checkmark {
    border-color: $yellow;
    background: rgba($gray7, 0.2);
  }

  &-checkmark::after {
    border: 3px solid transparent;
    border-right: none;
    border-top: none;

    @include water;
    @include transform(rotate(-45deg));
    content: '';
    height: 5px;
    left: 6px;
    position: absolute;
    top: 6px;
    width: 9px;
  }

  &-checkmark.is-checked::after {
    border-color: $yellow;
  }

  &-label {
    float: left;
    line-height: 24px;
    padding-left: 6px;
    font-size: 14px;
  }

  @include labmod(false, false);
}
