@import '~normalize.css/normalize';

@import '../utils/sections';
@import '../utils/utils';

html {
  // If a scrollbar isn't always visible, and some animation transitions the
  // page into being scrollable, then everything "jumps" left, which looks very
  // unattractive.
  overflow-y: scroll;
}

body {
  background: $gray-1;
  color: $gray7;
  font-family: Lato, Arial, sans-serif;
  font-size: 14px;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  background: none;
  border: none;
  color: unset;
  outline: none;
  padding: 0;
  text-align: left;
}

button, input, optgroup, select, textarea {
  font: inherit; // undo https://goo.gl/4vGkHw; TODO: undo the undo
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

li {
  line-height: 24px;
}

// for the on-page-load transition fix in index.js
.disable-transitions * {
  @include transition(none !important);
}
