@import '../utils/utils';

// TODO: re-use the animation in both Loading and Page

@keyframes flash {
  100% { transform: rotatex(360deg) }
}

.Loading {
  min-height: 32px;

  &-logo {
    animation-name: flash;
    animation-duration: 1s;
    animation-timing-function: $ease-out-quad;
    animation-iteration-count: infinite;
    left: 50%;
    margin-left: -14px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    height: 32px;
  }
}
